body{
box-sizing: border-box;
margin: 0;
padding: 0;
}


section{
position: relative;
display: flex;
align-items: center;
justify-content: center;
min-height: 100vh;
}

section header {position: absolute;
top: 0;
width: 100%;
display:flex ;
justify-content: flex-end;
padding: 20px;
}

section header ul {display: flex;
justify-content: center;
align-items:center;
}

section header ul li{margin-left: 20px;
list-style: none;


}
section header ul li a{text-decoration: none;
font-size: 13px;
color: #111;


}

section header ul li button{background-color: rgb(71, 132, 247);
border: none;
outline: none;
font-weight: bold;
font-size: 14px;
border-radius: 3px;
cursor: pointer;
padding: 8px 14px ;


}

section .main{display: flex;
width: 580px;
flex-direction: column;
justify-content: center;
align-items: center;


} 
section .main .searchbox{position: relative;

margin-top: 20px;
width: 100%;
}


section .main .searchbox .search{width: 100%;
padding: 13px;
padding-left: 45px;
padding-right: 40px;
border-radius: 30px;
outline: none;
font-size:13px;
border: 1px solid rgb(233, 218, 218);
}
section .main .searchbox .icon{position: absolute;

top: 0;
display: flex;
padding: 13px 20px;

justify-content: space-between;
width: 100%;
align-items: center;
pointer-events: none;
}


section .main .red{margin-top: 20px;}


section .main button{margin: 0px 5px;
padding:12px 20px ;
font-size: 13px;
border: none;
cursor: pointer;
border-radius: 1px solid transparent;
outline: none;
color: #555;
}


.main button:hover{color: #ccc;}


section .main .last{margin-top: 20px;}

.footer{position: absolute;
bottom: 0;
left: 0;
width: 100%;
background-color: #f2f2f2;
}



.footer .row{

display: flex;
justify-content: space-between;
border-top: 1px solid wheat .05;

}

.footer .row ul {list-style: none;

display: flex;
}

.row ul li a {margin-right: 25px;

margin-left: 5px;
}